{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>locate.place API</h1>
    <redoc id="redoc-container" spec-url="/api/v1/docs.json"></redoc>
    <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"></script>
{% endblock %}